/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/8/2019 9:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/8/2019 9:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](150) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseLimits]    Script Date: 4/8/2019 9:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseLimits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LimitAmount] [decimal](18, 2) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ExpenseLimits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 4/8/2019 9:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Item] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[CreatedBy] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Expenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/8/2019 9:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/8/2019 9:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Occupation] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Remarks], [Status], [CreatedBy], [CreatedAt], [ModifiedAt]) VALUES (1, N'Food', NULL, 1, 1, CAST(N'2019-04-08T21:32:55.633' AS DateTime), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Remarks], [Status], [CreatedBy], [CreatedAt], [ModifiedAt]) VALUES (2, N'Stationery', NULL, 1, 1, CAST(N'2019-04-08T21:33:09.930' AS DateTime), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Remarks], [Status], [CreatedBy], [CreatedAt], [ModifiedAt]) VALUES (3, N'House Hold', NULL, 1, 1, CAST(N'2019-04-08T21:37:42.030' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([Id], [Date], [Amount], [Item], [Description], [CreatedBy], [CategoryId], [CreatedAt], [ModifiedAt]) VALUES (1, CAST(N'2019-04-08T00:00:00.000' AS DateTime), CAST(120.00 AS Decimal(18, 2)), N'MOMO', NULL, 1, 1, CAST(N'2019-04-08T21:34:27.123' AS DateTime), NULL)
INSERT [dbo].[Expenses] ([Id], [Date], [Amount], [Item], [Description], [CreatedBy], [CategoryId], [CreatedAt], [ModifiedAt]) VALUES (2, CAST(N'2019-04-08T00:00:00.000' AS DateTime), CAST(500.00 AS Decimal(18, 2)), N'12 copies', NULL, 1, 2, CAST(N'2019-04-08T21:34:47.010' AS DateTime), NULL)
INSERT [dbo].[Expenses] ([Id], [Date], [Amount], [Item], [Description], [CreatedBy], [CategoryId], [CreatedAt], [ModifiedAt]) VALUES (3, CAST(N'2019-04-08T00:00:00.000' AS DateTime), CAST(25.00 AS Decimal(18, 2)), N'Chocolates', NULL, 1, 1, CAST(N'2019-04-08T21:35:09.033' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Expenses] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Remarks], [CreatedAt]) VALUES (1, N'Admin', N'Administratior', CAST(N'2019-04-04T23:36:26.470' AS DateTime))
INSERT [dbo].[Roles] ([Id], [RoleName], [Remarks], [CreatedAt]) VALUES (2, N'User', N'General User', CAST(N'2019-04-04T23:36:26.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Address], [Occupation], [Password], [Status], [CreatedAt], [RoleId]) VALUES (1, N'Incesent Rain', N'incesentrain@gmail.com', N'Chhauni', N'Software Company', N'IEht9AXNw96CBH3GlCq12ONzmvgtU2bJv7Su4M20hT0RvuWqAAAAAAAAAAA=', 1, CAST(N'2019-04-08T21:32:35.690' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[ExpenseLimits] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[ExpenseLimits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseLimits_dbo.Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseLimits] CHECK CONSTRAINT [FK_dbo.ExpenseLimits_dbo.Users_CreatedBy]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Expenses_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_dbo.Expenses_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
/****** Object:  StoredProcedure [dbo].[p_get_expense_count]    Script Date: 4/8/2019 9:39:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[p_get_expense_count]
(
	@userId int
)
AS
BEGIN
	SELECT Count(E.Id) as 'expenseCount', 0 as 'demo' FROM Expenses E 
	WHERE E.CreatedBy = @userId AND 
	CONVERT(varchar, E.Date, 111) = Convert(varchar, GETDATE(), 111)
END

GO
/****** Object:  StoredProcedure [dbo].[p_get_most_expensed_category]    Script Date: 4/8/2019 9:39:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[p_get_most_expensed_category]
(
	@createdBy int
)
as
begin
	Select COUNT(E.CategoryId) as 'count', C.Name  from Expenses E 
	INNER JOIN Categories C ON (C.Id = E.CategoryId) 
	where E.CreatedBy = @createdBy GROUP BY E.CategoryId, C.Name
end
GO
/****** Object:  StoredProcedure [dbo].[p_get_totalamount_by_date]    Script Date: 4/8/2019 9:39:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_get_totalamount_by_date]
(
	@createBy int
)
AS
BEGIN
	Select SUM(Amount) as 'totalAmount', Convert(varchar, Date, 111) as 'date'
	from Expenses where CreatedBy = @createBy
	GROUP BY  Convert(varchar, Date, 111) 
	ORDER BY date desc
END
GO
